@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --signal-orange: #FF5A00;
    --anthrazit: #1A1A1A;
    --off-white: #F8F8F8;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans bg-off-white text-anthrazit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .font-display {
    font-family: 'Clash Display', sans-serif;
  }
}
